---
import Layout from '../layouts/main.astro';

---

<!-- Remove the style block to fix the problem -->
<style>
	div {
		color: green;
	}
</style>

<Layout>
	<div>This should come first</div>
</Layout>