---

const { variant } = Astro.props;

let icon = <span class='normal'>normal</span>

if (variant === 'error') {
  icon = <span class='error'>error</span>
}
---

<style>
  .error {
    color: red;
  }
</style>

<div>
  {icon}
</div>